@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: lightgray !important;
    background-image: url('../img/latar.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}